@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 21, 29, 255);
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}
/*navbar*/
.navbar {
  display: flex;
  justify-content: center;
  height: 90px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(0, 25, 37, 255);
  z-index: 3;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li a {
  padding: 5px;
  text-decoration: none;
  color: #6d8f9d;
  font-size: 20px;
  font-weight: 900;
}
.navbar ul li a:hover {
  border-bottom: 2px solid #dd7e00;
}
/* navbar end  */
/* img logo start */
.logo {
  width: 90px;
  height: 90px;
  display: flex;
  position: absolute;
  left: 0;
}
/* img logo end */

/* footer links  */
.footerLinks {
  width: 90px;
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  position: fixed;
  top: 0;
  right: 0;
  border: 3px solid #6d8f9d;
  background-color: rgba(0, 37, 47, 255);
  z-index: 4;
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 50px;
  height: 90px;
  margin: 10px auto;
}
.footerLinks a {
  color: #6d8f9d;
}
/* button in footer links */
.followMe {
  width: 40px;
  height: 90px;
  color: rgba(0,21,29,255);
  font-weight: 900;
  font-size: 1rem;
  background-color: #dd7e00;
  border: 2px solid rgba(0,21,29,255);
}
.followMe span {
  writing-mode: vertical-lr;
}
/* footer links end  */

/* Section containerOne*/
.containerOne {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: rgba(0, 21, 29, 255);
  width: 100vw;
  height: 100vh;
  color: white;
}
.imageComp {
  grid-area: 8/3/2/6;
}
.imageComp img {
  width: 600px;
  height: 500px;
  border-radius: 0.70rem;
}

.text {
  grid-column: 5/8;
  grid-row: 2/8;
  font-size: 2.5rem;
  color: #658794;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.text h1,
h2 {
  color: white;
}
/* Section containerOne end*/

/* Section about*/
.about {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: rgba(0, 37, 47, 255);
  width: 100vw;
  height: 100vh;
}
.lady {
  grid-column: 3/5;
  grid-row: 2/8;
  border-radius: 0.70rem;
}
.about h2 {
  grid-column: 1/2;
  grid-row: 3/4;
  color: #dd7e00;
  font-size: 5rem;
}
.about h3 {
  grid-column: 1/2;
  grid-row: 5/6;
  color: #dd7e00;
  font-size: 2.5rem;
  flex-direction: flex-end;
}
.about p {
  grid-column: 5/7;
  grid-row: 5/6;
  font-size: 2rem;
  color: antiquewhite;
}

/* portfolio */

.titleBlock {
  text-align: center;
  width: 70%;
  margin-left: 15%;
  font-size: 2.5rem;
  color: #dd7e00;
}
.Sitetitle2 {
  color: #dd7e00;
}
.Sitetitle2::before {
  content: "";
  width: 50px;
  height: 2px;
  background: #000;
  position: absolute;
  margin-top: 18px;
  margin-left: -60px;
}

.Sitetitle2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #000;
  position: absolute;
  margin-top: 18px;
  margin-left: 8px;
}
.containerTwo {
  padding: 50px;
  color: #b8c7cd;
}


.displayWrapper {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 470px;
  margin-top: 20px;
  border: 4px solid #dd7e00;
  
}
.displayBox {
  width: 450px;
  height: 450px;
  overflow: hidden;
}
.displayBox img {
  width: 100%;
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
  position: relative;
}
.displayBox img:hover {
  cursor: pointer;
  transform: translateY(-83.7%);
}
.galleryBody {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: rgba(0, 37, 47, 255);
  width: 100vw;
  height: 100vh;
}
.galleryCard {
  grid-area: 2/2/3/3;
}
.galleryCard1 {
  grid-area: 3/2/4/3;
}
.galleryCard2 {
  grid-area: 2/3/3/4;
}
.galleryCard3 {
  grid-area: 3/3/4/4;
}

/* contact form */
#fcf-form {
  display:block;
}

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(0, 37, 47, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}#fcf-form {
  display:block;
}

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b8c7cd;
  text-align: left;
  background-color:rgba(0, 37, 47, 255);
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #dd7e00;
  border-radius: 0.25rem;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 30%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #ced4da;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-credit a:hover {
  color: rgba(0, 37, 47, 255);
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #dd7e00;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 37, 47, 255, 0.5);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #dd7e00;
  border-color:rgba(0, 37, 47, 255);
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: rgba(0, 37, 47, 255);
  border-color: #dd7e00;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  background-color:#658794;
  border-color:rgba(0, 37, 47, 255);
  box-shadow: 0 0 0 0.2rem rgba(0, 37, 47, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 30%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}