* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*navbar*/
.navbar {
  display: flex;
  justify-content: center;
  height: 90px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(0, 25, 37, 255);
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li a {
  padding: 5px;
  text-decoration: none;
  color: #6d8f9d;
  font-size: 20px;
  font-weight: 900;
}
.navbar ul li a:hover {
  border-bottom: 2px solid #dd7e00;
}
/* navbar end  */
/* img logo start */
.logo {
  width: 90px;
  height: 90px;
  display: flex;
  position: absolute;
  left: 0;
}
/* img logo end */

/* footer links  */
.footerLinks {
  width: 90px;
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  position: fixed;
  top: 0;
  right: 0;
  border: 3px solid #dd7e00;
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 50px;
  height: 90px;
  margin: 10px auto;
}
.footerLinks a {
  color: #dd7e00;
}
/* button in footer links */
.followMe {
  width: 40px;
  height: 90px;
  color: #dd7e00;
  font-weight: 900;
}
.followMe span {
  writing-mode: vertical-lr;
}
/* footer links end  */

/* Section containerOne*/
.containerOne {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: rgba(0, 21, 29, 255);
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
}
#home {
  grid-column: 3/7;
  grid-row: 3/6;
  height: 80vh;
  color: white;
}
.imageComp img {
  width: 600px;
  height: 500px;
}
.text {
  grid-column: 5/8;
  grid-row: 3/8;
  font-size: 2.5rem;
  color: #658794;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.text h1,
h2 {
  color: white;
}
/* Section containerOne end*/

/* Section about*/
.about {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: rgba(0, 37, 47, 255);
  width: 100vw;
  height: 100vh;
}
.lady {
  grid-column: 3/5;
  grid-row: 2/8;
}
.about h2 {
  grid-column: 1/2;
  grid-row: 3/4;
  color: #dd7e00;
  font-size: 5rem;
}
.about h3 {
  grid-column: 1/2;
  grid-row: 5/6;
  color: #dd7e00;
  font-size: 2.5rem;
  flex-direction: flex-end;
}
.about p {
  grid-column: 5/7;
  grid-row: 5/6;
  font-size: 2rem;
  color: antiquewhite;
}

/* portfolio */
@import url("https://fonts.googleapis.com/css?family=Raleway");

html,
body {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 21, 29, 255);
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.titleBlock {
  width: 70%;
  margin-left: 15%;
}

.Sitetitle:before {
  content: "";
  width: 50px;
  height: 2px;
  background: #000;
  position: absolute;
  margin-top: 18px;
  margin-left: -60px;
}

.Sitetitle:after {
  content: "";
  width: 50px;
  height: 2px;
  background: #000;
  position: absolute;
  margin-top: 18px;
  margin-left: 8px;
}

.displayWrapper {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 320px;
  margin-top: 20px;
}
.displayBox {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.displayBox img {
  width: 100%;
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
  position: relative;
}
.displayBox img:hover {
  cursor: pointer;
  transform: translateY(-83.7%);
}
